*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    /* background-image: url('assets/img1.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background: #1A1D2B;
    
}

/* For background image */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire viewport */
    z-index: -1; /* Places the image behind all other content */
}


.captcha-container
{
    /* min-width: 50%; */
    /* max-width: 50%; */
    background:#FFF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-family:"Poppins" , sans-serif;
    position: relative;
    padding: 30vh;

}
.header{
    background: #037AE2;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding:15px;
    
}

.securityCode
{
    width: 100%;
    /*height: 250px;
    /* background:url('assets/img2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: relative;*/ /* To control the position of inner elements */
}


.securityCode p
{
    text-align: center;
    /*line-height: 250px;
    /* color: #fff; */
    color: #e63e3e;
    font-family:"Montserrat" ,sans-serif;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    user-select: none;
}
.icons
{
    
    bottom:0;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons .fas
{
    color: #040404;
    font-size: 1.rem;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.15s ease;
}
.icons .fas:hover
{
    color: #037AE2;
}
.userInput
{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.userInput input
{
    border-radius: 20px 0 0 20px;
    outline: none;
    border: solid 1px gray;
    border-right: none;
    padding: 12px;
    width: 60%;
    font-size: 1.2rem;
}
.userInput .btn
{
    border: none;
    outline: none;
    background: #037AE2;
    color: #fff;
    padding: 12px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: 0.15s ease;
    font-size: 1.2rem;
}
.userInput .btn:hover
{
    background: #036CC9;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start-btn 
{
    height: 65px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    border-style: outset;
    border-width: 2px;
}

#instructions
{
    font-size: 20px;
    text-align: center;
}




footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}
